{% block title %}
    Index
{% endblock %}

{% block main %}

    <section class="home-content">
        <div class="container p-0">
            <div class="row portfolio-row justify-content-center">
                <div class="col-12 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">
                                <h2 class="index-header">My latest project</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row index-img text-center">
                            <h6>Natural Language Processing of Hotel Reviews</h6>
                        </div>
                    </div>
                    <div class="row">
                        <a target="_blank" href="https://github.com/ngachago/SmartStay">
                            <img class="portfolio-img" src="/static/img/portfolio-website.png">
                        </a>
                    </div>
                    <div class="index-bottom text-center">
                        <p><a class="about-link" href="/en/portfolio">This way</a> to see more of my projects.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
